@media screen and (max-width: 720px) {
    
.navbar {
    background-color: transparent;
    position: absolute;
    top: 20px;
    left: 0;
    padding: 20px 10px;
    height: max-content;
    display: flex;
    color: black;
    width: 100vw;
    justify-content: space-between;
}

.logo {
    width: 180px;
    position: relative;
    margin-left: 0px;
}

.back-to-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    animation: backs 2s ease-in infinite;
    border-radius: 1000px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    cursor: pointer;
    padding: 10px;
    width: 46px;
    font-weight: normal;
    background-color: #131747;
    z-index: 4444;
    color: white;
    opacity: 0;
    margin-bottom: 0;
}
    
.section-hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
}

.hero-left {
    position: relative;
    width: 100vw;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.desc-hero {
    position: relative;
    top: 0px;
    display: flex;
    margin-left: auto;
    left: 0px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: auto;
    margin-right: auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.aksi {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 220px;
    border: 2px solid rgb(197, 197, 197);
    border-radius: 100px;
    margin-bottom: 0px;
}

.aksi img {
    position: relative;
    top: 4px;
    width: 40px;
}

.aksi small {
    font-weight: bold;
    color: rgb(134, 134, 134);
}

.hero-left h1 {
    font-size: 42px;
    width: 80%;
    margin-top: 30px;
    font-weight: bold;
}

.hero-left p {
    font-size: 18px;
    margin-top: 20px;
    width: 80%;
    color: rgb(44, 44, 44);
    font-weight: 500;
}

.email-user {
    position: relative;
    border-radius: 90px;
    border: 2px solid rgb(172, 172, 172);
    height: 50px;
    padding: 0;
    width: 90vw;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.email-user input {
    position: absolute;
    left: 0;
    border: none;
    height: 100%;
    border-radius: 400px;
    padding-left: 20px;
}

input:focus {
    border: none;
    outline: none;
}

.email-user button {
    position: absolute;
    right: 6px;
    top: 0;
    transform: scale(1.1);
    border-radius: 400px;
    background-color: #135CE7;
    width: 140px;
    color: white;
    height: 100%;
    border: none;
}

.list-sponsor {
    font-size: 25px;
    display: flex;
    width: 90%;
    margin-top: 60px;
    height: max-content;
    border-radius: 200px;
    color: rgb(59, 59, 59);
    cursor: pointer;
}

.list-sponsor img {
    width: 130px;
}

.hero-right {
    position: relative;
    margin-top: 200px;
    width: 100vw;
    height: 100%;
    background-size: cover;
    display: none;
}

.hero-right img {
    position: relative;
    width: 100%;
    height: auto;
    background-size: cover;
}

.blues1 {
    display: none;
}

/* style untuk section-vounteer */
.section-vounteer {
    position: relative;
    width: 100vw;
    height: max-content;
    padding-bottom: 50px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.dec-vounteer {
    position: absolute;
    right: 160px;
    width: 60px;
    opacity: 0.7;
    display: none;
    bottom: -120px;
}

.vounteer-left {
    position: relative;
    width: 100vw;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vounteer-left img {
    width: 86vw;
    position: relative;
}

.vounteer-right {
    position: relative;
    width: 100vw;
    margin-top: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-left: 0px;
    text-align: center;
    flex-direction: column;
}

.vounteer-right h2 {
    font-weight: bold;
    font-size: 38px;
    width: 100vw;
}

.vounteer-right p {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    font-weight: 500;
    font-size: 16px;
    color: rgb(99, 99, 99);
}

.list-button-vounteer {
    display: flex;
    margin-top: 30px;
    position: relative;
    left: 0px;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.btn-daftar {
    position: relative;
    top: 0;
    transform: scale(1.1);
    border-radius: 400px;
    background-color: #135CE7;
    width: 200px;
    color: white;
    height: 48px;
    border: none;
    margin-left: auto;
    margin-right: auto;
}

.btn-tanya {
    top: 0;
    transform: scale(1.1);
    border-radius: 400px;
    width: 140px;
    background-color: transparent;
    color: rgb(24, 24, 24);
    height: 46px;
    border: none;
}

.list-icon {
    margin-top: 30px;
    width: 100vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-icon img {
    width: 38px;
    margin: 15px 15px 15px 0;
}



/* style untuk section-menu */

.section-menu {
    position: relative;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 90px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    height: max-content;
}

.section-menu h2 {
    font-weight: bold;
    font-size: 34px;
    margin-left: 0px;
    width: 100vw;
}

.section-menu p {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

.wrap-menu {
    position: relative;
    width: 100vw;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 60px;
    align-items: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    height: max-content;
}

.wrap-child-menu {
    position: relative;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: max-content;
    margin-bottom: 30px;
    display: flex;
}

.menu {
    position: relative;
    width: 90vw;
    height: 150px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    color: rgb(255, 255, 255);
    box-shadow:1px 2px 6px rgba(204, 204, 204, 0.507) ;
    background-color: #6272ff;
    transition: 0.4s;
    z-index: 33;
}

.menu h4 {
    font-size: 18px;
}

.menu:hover {
    position: relative;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.4s;
}

.menu img {
    width: 46px;
    margin-bottom: 10px;
}

.verif-logo {
    width: 40px;
}

.logo-verif {
    display: flex;
    justify-content: center;
    align-items: center;
}

.market, .phone {
    position: relative;
    top: -2px;
    margin-right: 10px;
    width: 12px;
    color: rgb(175, 175, 175);
}

.card-menux:hover {
    transition: 0.4s;
    background-color: rgba(242, 249, 255, 0.616);
}



/* style untuk section-application */

.section-aplication {
    position: relative;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    background-color: #6272ff;
    overflow: hidden;
    border-radius: 10px;
    height: max-content;
    margin-bottom: 160px;
    color: white;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.app-left {
    width: 90%;
    height: max-content;
    display: flex;
    padding-top: 40px;
    flex-direction: column;
    justify-content: center;
}

.app-left h2 {
    font-weight: bold;
    color: white;
    width: 100%;
    margin-left: 0px;
    font-size: 24px;
}

.app-left p {
    font-size: 16px;
    margin-left: 0px;
    margin-top: 20px;
    color: white;
    width: 100%;
}

.app-right {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(140, 163, 255);
    align-items: center;
}

.app-right img {
    width: 80%;
    position: relative;
    bottom: 0;
    margin-bottom: 0px;
}

.btn_lihat {
    position: relative;
    border-radius: 44px;
    margin-left: 0px;
    color: rgb(85, 85, 85);
    background-color: #fff;
    border: none;
    outline: none;
    transform: scale(1.1);
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: bold;
    cursor: pointer;
    width: max-content;
    padding: 16px 22px;
}


/* style untuk section-benefits */

.section-benefits {
    position: relative;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: max-content;
    align-items: center;
    text-align: center;
}

.dec-benefits {
    display: none;
}

.wrap-benefits {
    width: 90vw;
    height: 400px;
    flex-direction: column;
    display: flex;
    align-items: center;
    text-align: center;
}

.wrap-benefits .benefits-left, .benefits-right {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.section-benefits h2 {
    font-weight: bold;
    font-size: 32px;
    width: 90vw;
    margin-bottom: 40px;
}

.benefits-left img {
    width: 84%;
}

.benefits-right p {
    font-size: 16px;
    width: 96vw;
    margin: 20px 0;
    line-height: 2em;
}

.btn-benefits {
    top: 0;
    margin-top: 20px;
    transform: scale(1.1);
    border-radius: 400px;
    background-color: #135CE7;
    width: 200px;
    color: white;
    height: 48px;
    border: none;
    margin-left: 10px;
}


/* style untuk section-inovation */

.section-inovation {
    position: relative;
    width: 100vw;
    height: max-content;
    display: flex;
    flex-direction: column;
    margin-top: 140px;
    justify-content: center;
    margin-bottom: 40px;
    align-items: center;
    padding: 50px 0;
    background-color: #6272ff;
    color: white;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.section-inovation h1 {
    width: 95vw;
    font-weight: bold;
    font-size: 34px;
    margin-bottom: 20px;
}

.section-inovation p {
    width: 90vw;
    line-height: 2em;
}

.wrap-vounteer-type {
    position: relative;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    flex-direction: column;
    height: max-content;
    display: flex;
}

.type-vounteer {
    margin: 20px 30px;
}

.type-vounteer h2 {
    font-weight: bold;
    font-size: 30px;
}

.type-vounteer small {
    font-size: 15px;
}

.btn-benefits {
    top: 0;
    transform: scale(1.1);
    border-radius: 400px;
    background-color: #135CE7;
    width: 200px;
    color: white;
    height: 48px;
    border: none;
    margin-left: 10px;
}


/* style untuk section-info */

.section-info {
    position: relative;
    width: 90vw;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    height: max-content;
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dec-info {
    position: absolute;
    right: 440px;
    width: 60px;
    opacity: 0.7;
    top: -50px;
}

.wrap-card-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.section-info h2 {
    font-weight: bold;
    font-size: 34px;
    width: 96vw;
    margin-bottom: 40px;
}

.card-info {
    position: relative;
    border-radius: 10px;
    background-color: #6272ff;
    display: block;
    width: 90vw;
    height: 400px;
    margin: 20px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    /* box-shadow: 1px 2px 10px rgba(129, 105, 105, 0.671); */
    overflow: hidden;
}

.card-info-head {
    overflow: hidden;
    width: 100%;
    height: 50%;
}

.btn-infos {
    position: relative;
    top: 0px;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    width: 150px;
    padding: 6px 20px;
    box-shadow: 1px 2px 6px rgba(117, 117, 117, 0.466);
    border-radius: 0 50px 50px 0;
    cursor: pointer;
    background-color: #ffffff;
}

.card-info-head img {
    background-size: cover;
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
}

.card-info-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    height: 50%; 
}

.card-info-content h4 {
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: bold;
    margin-left: 10px;
}

.card-info p {
    margin-left: 10px;
    margin-right: 0;
    width: 84%;
}


.sec7 {
    position: relative;
    height: max-content;
    background-color: #f6f8fc;
}

.sec7 i {
    font-size: 30px;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
    color: white;
    transition: 0.3s;
}

.sec7 i:hover {
    cursor: pointer;
    filter: brightness(85%);
    transition: 0.3s;
}

.wrap-sec7 {
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    padding: 90px 0px 50px 0 ;
    justify-content: space-between;
    align-items: center;
}

.list-sosmed {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

.list-footer {
    width: 100vw;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
}

.btn-back {
    position: relative;
    width: 210px;
    padding: 14px;
    margin-left: 20px;
    margin-top: 50px;
    border-radius: 4px;
    background-color: rgb(28, 214, 3);
    border: none;
    outline: none;
    z-index: 2;
    color: white;
}

.fb {
    background-color: rgb(3, 6, 204);
}

.ig {
    background-color: rgb(161, 1, 201);
}

.yt {
    background-color: rgb(223, 12, 5);
}

.wrap-sec7 img {
    width: 100px;
}

.list-footer div {
    margin-top: 40px;
    margin-right: 50px;
    margin-left: 30px;
    text-align: left;
}

.sec7-dek1 {
  display: none;
}

.sec7-dek3 {
    background-image: url('./images/x.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    position: absolute;
    right: 50px;
    bottom: 130px;
    opacity: 0.7;
    z-index: 1;
}



}